@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300; 400; 500; 700&display=swap');


body{
    font-family: "Poppins", sans-serif;
    background-color: white;
    margin: 0px;
    padding: 0px;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding-top: 5px;
    padding-left: 5%;
    padding-right:5%;
    background-color: rgb(224, 223, 223);
}

nav img{
    color: #000;
    font-size: 30px;
    padding: 10px;
}

nav ol ul{
    display: inline-block;
    padding: 0px 40px;
}




.parteuno{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    padding-top: 200px;
}
.parteuno h1{
    display: block;
    max-width: 600px;
    margin: 100px;
    font-weight: bold;
    font-size: 85px;
}
.parteuno p{
    display: inline-block;
    max-width: 500px;
    padding: 50px 50px;
    margin: 100px;
}



.partedos{
    display:flex; 
    flex-direction: column;
    align-items: center;
    padding: 100px;
}
.partedos h2{
    font-weight: bold;
    font-size: 50px;
    max-width: 400px;
    padding: 50px 50px;
    margin: 30px;
}
.partedos div{
    display:flex; 
    flex-direction: column;
    padding: 10px 10px;
    margin: 30px;
    align-items: center;
}
.partedos img{
    padding: 0px 70px;
    filter: drop-shadow(0 0 5px)
}
.partedos h3{
    font-weight: normal;
    font-size: 15px;
}

.partedos article{
    display:flex;
}

.partetres{
    display:flex;
    align-items: center;
    justify-content:center;
    padding: 100px;
}
.partetres h2{
    display:block;
    font-weight: bold;
    font-size: 50px;
    max-width: 600px;
    padding: 70px 70px;
    margin: 50px;
    margin-right: 300px;
}
.partetres ol h3{
    font-size: 35px;
    font-weight: bold;
    padding: 0%;
    margin: 1px;
    margin-top: 45px;
}
.partetres ol li{
    list-style-type: none;
    font-size: 15px;
    padding: 0%;
    margin: 1px;
}
.partetres ol h4{
    font-size: 15px;
    font-weight: normal;
    padding: 0%;
    margin: 1px;
}



  
.partecuatro{
    display:flex; 
    align-items: center;
    justify-content: center;
    padding: 100px;
}
.partecuatro h2{
    display:block;
    font-weight: bold;
    font-size: 50px;
    max-width: 700px;
    padding: 70px 70px;
    margin: 50px;
    margin-right: 150px;
}
.partecuatro h4{
    font-weight: normal;
    font-size: 15px;
    padding: 0%;
    margin: 10px;
}
.partecuatro p{
    font-size: 15px;
    font-weight:bold;
    padding: 0%;
    margin: 10px;
}


.contacto{
    display:flex; 
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.contacto h2{
    font-size: 50px;
    padding: 20px 20px;
    margin: 30px;
}
.contacto p{
    max-width: 100px;
    font-size: 15px;
    padding: 0%;
    margin: 1px;
}
.contacto article{
    display:flex; 
    flex-direction:row;
    padding: 10px 10px;
    margin: 7px;
    align-items: center;
}
.contacto article h4{
    padding: 10px 10px;
    margin: 5px;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding-top: 10px;
    background-color: rgb(224, 223, 223);
}
footer img{
    padding: 0px 10px
}
