@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300; 400; 500; 700&display=swap');


body{
    font-family: "Poppins", sans-serif;
    background-color: white;
    margin: 0px;
    padding: 0px;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding-top: 5px;
    padding-left: 5%;
    padding-right:5%;
    background-color: rgb(224, 223, 223);
}

nav img{
    color: #000;
    font-size: 30px;
    padding: 10px;
}

nav ul li{
    display: inline-block;
    padding: 0px 40px;
}




.quien {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    padding-top: 200px;
}
.quien h1{
    display: block;
    max-width: 600px;
    margin: 100px;
    font-weight: bold;
    font-size: 85px;
}
.quien p{
    display: inline-block;
    max-width: 500px;
    padding: 50px 50px;
    margin: 100px;
}



.habilidades{
    display:flex; 
    flex-direction: column;
    align-items: center;
    padding: 100px;
}
.habilidades h2{
    font-weight: bold;
    font-size: 50px;
    max-width: 400px;
    padding: 50px 50px;
    margin: 30px;
}
.habilidades div{
    display:flex; 
    flex-direction: column;
    padding: 10px 10px;
    margin: 30px;
    align-items: center;
}
.habilidades img{
    padding: 0px 70px;
    filter: drop-shadow(0 0 5px)
}
.habilidades h3{
    font-weight: normal;
    font-size: 15px;
}

.habilidades article{
    display:flex;
}



.experiencia{
    display:flex;
    align-items: center;
    justify-content:center;
    padding: 100px;
}
.experiencia h2{
    display:block;
    font-weight: bold;
    font-size: 50px;
    max-width: 600px;
    padding: 70px 70px;
    margin-right: 200px;
}
.experiencia ol h3{
    font-size: 35px;
    font-weight: bold;
    padding: 0%;
    margin: 1px;
    margin-top: 45px;
}
.experiencia ol li{
    list-style-type: none;
    font-size: 15px;
    padding: 0%;
    margin: 1px;
}
.experiencia ol h4{
    font-size: 15px;
    font-weight: normal;
    padding: 0%;
    margin: 1px;
}


  
.formacion{
    display:flex; 
    align-items: center;
    justify-content: center;
    padding: 100px;
}
.formacion h2{
    display:block;
    font-weight: bold;
    font-size: 50px;
    max-width: 700px;
    padding: 70px 70px;
    margin-right: 60px;
}
.formacion h4{
    font-weight: normal;
    font-size: 15px;
    padding: 0%;
    margin: 10px;
}
.formacion p{
    font-size: 15px;
    font-weight:bold;
    padding: 0%;
    margin: 10px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding-top: 10px;
    background-color: rgb(224, 223, 223);
}
footer img{
    padding: 0px 10px
}
